/* Modal Styles */
.modal {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond légèrement plus sombre */
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease-in-out; /* Animation du modal lors de l'ouverture */
}

/* Contenu du modal */
.modal-content {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    text-align: left;
    position: relative;
    animation: slideInFromTop 0.5s ease-out; /* Animation de l'entrée du contenu du modal */
}

/* Effet de fermeture du modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Contenu du modal */
#error-modal .modal-content {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 90%;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
}

/* En-tête du modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Réduit l'espace en dessous */
    border-bottom: 1px solid #ddd;
    padding: 5px 0; /* Réduit l'espace vertical dans le header */
}

/* Titre du modal */
.modal-header h2 {
    padding-top: 14px;
    font-size: 1.2rem; /* Réduit légèrement la taille du titre */
    color: #333;
    margin: 0; /* Supprime les marges par défaut */
}

#error-modal p {
    padding-top: 10px;
}

/* Bouton de fermeture */
#error-modal .close-btn {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.close-btn:hover {
    color: #007bff;
}

/* Bouton de fermeture */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

/* Style des formulaires dans le modal */
.modal form label {
    display: block;
    margin: 12px 0 6px;
    color: #033860;
    font-weight: bold;
}

.modal form input, .modal form textarea, .modal form select {
    width: 94%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.modal form select {
    width: 100%;
}

.modal form input:focus, .modal form textarea:focus, .modal form select:focus {
    outline: none;
    border-color: #087CA7;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Boutons dans le modal */
.modal form button, .modal form input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    color: whitesmoke;
    background-color: #087CA7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.modal form button:hover, .modal form input[type="submit"]:hover {
    background-color: #031A6B;
}

.Faible {
    color: green;
}
.Moyenne {
    color: orange;
}
.Importante {
    color: red;
}

.attente{
    color: blue;
}
.cours{
    color: green;
}
.retard{
    color: red;
}
.termine{
    color: purple;
}
.panneauDanger{
    width: 50px;
    height: 50px;
}

  
.conteneur-taches {
display: flex;
flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}

.tache {
display: inline-block; /* Affichage en bloc */
vertical-align: top; /* Alignement en haut */
margin: 10px; /* Marge autour de chaque bloc */
padding: 10px; /* Espacement interne pour le contenu */
border: 2px solid #007BFF; /* Bordure bleue de 2 pixels */
border-radius: 5px; /* Coins arrondis pour un aspect plus doux */
background-color: #f9f9f9; /* Couleur de fond légère */
}

  